# Archives
**.zip
**.tar.gz
**.tar.bz2
**.tar.xz
**.tar.lz
**.rar
**.7z

# Binaries
**.exe
**.msi
**.dmg
**.pkg
**.deb

# Fonts
**.otf
**.ttf

# Config files
**.reg
**.ini
**.conf
**.cnf
**.config
**.toml

# Used for config files in several programs/packages that just installed
!config/**
